
/*
Color scheme:

#FFFFFF - white
#F9F9F9 - off white
#757575 - grey
  http: //paletton.com/#uid=2000u0k00eG09ql01ki0288280u - complimentary colors
#1B5299 - blue
  http: //paletton.com/#uid=23D0u0ksMtghHAbmEuBunn2-bi5 - complimentary colors
*/


html, body {
  overflow: hidden;
  background-color: #F9F9F9;
  font-family: 'Open Sans';
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
}

#mainContainer {
  display: flex;
}
