#header {
  height: 64px;
  font-family: 'Lato';
  font-size: 28px;
  display: flex;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  border-bottom: 2px solid #1B5299;
  background-color: #FFFFFF;
}

#logo {
  display: flex;
  flex-grow: 1.22;
  justify-content: center;
}

#headerIcon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2px;
}

 #headerIcon > img {
   padding-top: 4px;
   height: 40px;
   padding-right: 13px;
 }

#headerText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #1B5299;
}

#headerButtons {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  align-items: flex-start;
}

#headerButtons img {
  padding: 7px;
}

#headerButtons img:hover {
  box-shadow: 0 0 0 0, 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}
