#statusTabInfoWindow {
  width: calc(100vw - 150px);
  height: calc(100vh - 64px);
  overflow-y: scroll;
}

#topStatus {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 50px;
}

/*
* For the status dots
*/
@keyframes load {
  0%,
  10%,
  90%,
  100% {
    opacity: 0;
  }
  0%,
  10% {
    transform: translateX(0);
  }
  45%,
  55% {
    opacity: 1;
  }
  90%,
  100% {
    transform: translateX(200px);
  }
}


#statusAnimation {
  width: 400px;
}

#statusAnimation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

#statusAnimation li {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #1B5299;
  position: absolute;
  left: 0;
  opacity: 0;
}

#statusAnimation .play li {
  animation: load 3s cubic-bezier(0.15, 0.71, 0.74, 0.34) forwards;
}

#statusAnimation .play li:nth-child(1) {
  animation-delay: 0s;
}

#statusAnimation .play li:nth-child(2) {
  animation-delay: 0.3s;
}

#statusAnimation .play li:nth-child(3) {
  animation-delay: 0.6s;
}

#statusAnimation .play li:nth-child(4) {
  animation-delay: 0.9s;
}

#statusAnimation .play li:nth-child(5) {
  animation-delay: 1.2s;
}

#statusAnimation .play li:nth-child(6) {
  animation-delay: 1.5s;
}

#statusAnimation .play li:nth-child(7) {
  animation-delay: 1.8s;
}

#statusAnimation .play li:nth-child(8) {
  animation-delay: 2.1s;
}

#statusAnimation .play li:nth-child(9) {
  animation-delay: 2.4s;
}

 #statusAnimation .play li:nth-child(10) {
  animation-delay: 2.7s;
}

#blueLossEnableswitch label {
  font-size: 18px;
}

#devicesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#lookingForHeader {
  opacity: 0.6;
  margin-bottom: 20px;
}

#deviceAddHeader {
  opacity: 0.6;
  margin-top: 30px;
  margin-bottom: 20px;
}

#statusTabInfoWindow .deviceCard {
  width: 442px;
  max-width: 442px;
  display: flex;
  height: 76px;
  align-items: center;
  font-size: 16px;
}

#statusTabInfoWindow .deviceCard .cardDeviceIcon {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding:0 20px;
}

#statusTabInfoWindow .deviceCard .cardDeviceIcon img {
  width: 30px;
}

#statusTabInfoWindow .deviceDetails {
  padding-left: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

#statusTabInfoWindow .deviceName {
  word-break: break-all;
  -webkit-user-select: text;
  -moz-user-select: text;
  text-align: start;
}

#statusTabInfoWindow .deviceMacAddress {
  -webkit-user-select: text;
  -moz-user-select: text;
  opacity: 0.5;
  text-align: start;
}

#statusTabInfoWindow .deviceCardButtons {
  display: flex;
  flex-direction: column;
  height: inherit;
  border-left: 1px solid rgba(160,160,160,0.2);
}

#statusTabInfoWindow .deviceCardButtons:hover {
  background-color: #7575750d;
}

#statusTabInfoWindow .deviceCardButtons a {
  flex-grow: 1;
  align-items: center;
  display: flex;
  font-size: 13px;
}
